<!DOCTYPE html>
<html>

    <head>

    <script type="text/template" class="template-list-item">

      <span class="artist">
        <%= artist %>
      </span>
      <span class="title">
        <%= title %>
      </span>
      <span class="playcount">
        <%= playcount %>
      </span>
      <span> ---Add to Queue</span>


    </script>



        <script src="bower_components/jquery/jquery.min.js"></script>
        <script src="bower_components/underscore/underscore.js"></script>
        <script src="bower_components/backbone/backbone.js"></script>
        <script src="themes/js/scripts.js"></script>
        <link rel='stylesheet' type="text/css" href="themes/css/styles.css">
    </head>


  <body>
      <div id="wrapper">
          <header class="page-header">
              <h1> myTunes </h1>
          </header>
          <div class="player-container">
            <div class="player">

              <div class="player-screen">
                <div class="player-screen-inner">
                    <div class="marquee">

                    </div>
                </div>
                <div class="player-screen-inner-overlay">

                </div>
              </div>


            </div>
          </div> <!-- .playerContainer -->
          <footer>

          </footer>
      </div>



    <!-- Scripts may be placed anywhere on a page. But FYI, they block rendering of elements
     below them until after the scripts load-->


    <script src="data/data.js"></script>


    <script src="models/SongModel.js"></script>
    <script src="collections/Songs.js"></script>
    <script src="collections/SongQueue.js"></script>
    <script src="models/AppModel.js"></script>

    <script src="views/PlayerView.js"></script>
    <script src="views/SongQueueView.js"></script>
    <script src="views/SongQueueEntryView.js"></script>
    <script src="views/LibraryView.js"></script>
    <script src="views/LibraryEntryView.js"></script>
    <script src="views/AppView.js"></script>


  </body>
</html>
