/* CSS file */
/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End CSS Reset */

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */
/* End Clear Fix*/



/*Fonts*/
@font-face {
    font-family: 'ds-digitalnormal';
    src: url('../fonts/digi/ds-digi-webfont.eot');
    src: url('../fonts/digi/ds-digi-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/digi/ds-digi-webfont.woff2') format('woff2'),
         url('../fonts/digi/ds-digi-webfont.woff') format('woff'),
         url('../fonts/digi/ds-digi-webfont.ttf') format('truetype'),
         url('../fonts/digi/ds-digi-webfont.svg#ds-digitalnormal') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*END FONTS*/

html, body{
	width: 100%;
}

h1{

}

h2{

}

/****** Text Styling *****/
body{
	font-size: 16px;
	/*background: url('http://bgfons.com/upload/iron_texture637.jpg');*/

	font-family: 'Lato', sans-serif;
}







/****** Layout *****/

#wrapper{
	width: 1024px;
	margin: 0 auto;
}


header.page-header{

}


/****** Audio Player *****/
.player-container{
	width: 600px;
	height: auto;
	margin: 200px auto;
	padding: 1px;
}

	.player{
		padding: 1px;
		position: relative;
		z-index: 200;
	}

	.player-screen{
		padding: 1px 0;

		width: 100%;
		height: 200px;
		border: 10px solid #000;
		position: relative;
		background: black;
		box-sizing: border-box;
		-webkit-border-top-left-radius: 3px;
		-webkit-border-top-right-radius: 3px;
		-moz-border-radius-topleft: 3px;
		-moz-border-radius-topright: 3px;
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;
	}


		.player-screen-inner{
			width: 100%;
			height: 100%;
			padding: 1px 0;
			position: relative;
			background: blue;
			-webkit-border-radius: 7px;
			-moz-border-radius: 7px;
			border-radius: 7px;
			overflow: hidden;
			border: 2px solid #9E9E9E;
			box-sizing: border-box;

			background: rgb(97,153,199); /* Old browsers */
			background: -moz-linear-gradient(top,  rgba(97,153,199,1) 0%, rgba(65,154,214,1) 24%, rgba(75,184,240,1) 48%, rgba(58,139,194,1) 76%, rgba(38,85,139,1) 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(97,153,199,1)), color-stop(24%,rgba(65,154,214,1)), color-stop(48%,rgba(75,184,240,1)), color-stop(76%,rgba(58,139,194,1)), color-stop(100%,rgba(38,85,139,1))); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  rgba(97,153,199,1) 0%,rgba(65,154,214,1) 24%,rgba(75,184,240,1) 48%,rgba(58,139,194,1) 76%,rgba(38,85,139,1) 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  rgba(97,153,199,1) 0%,rgba(65,154,214,1) 24%,rgba(75,184,240,1) 48%,rgba(58,139,194,1) 76%,rgba(38,85,139,1) 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  rgba(97,153,199,1) 0%,rgba(65,154,214,1) 24%,rgba(75,184,240,1) 48%,rgba(58,139,194,1) 76%,rgba(38,85,139,1) 100%); /* IE10+ */
			background: linear-gradient(to bottom,  rgba(97,153,199,1) 0%,rgba(65,154,214,1) 24%,rgba(75,184,240,1) 48%,rgba(58,139,194,1) 76%,rgba(38,85,139,1) 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6199c7', endColorstr='#26558b',GradientType=0 ); /* IE6-9 */
		}

		.player-screen-inner-overlay{
			width: 100%;
			height: 100%;
			position: absolute;
			z-index: 1000;

			top: 0;
			-webkit-border-radius: 7px;
			-moz-border-radius: 7px;
			border-radius: 7px;
			background: #e0f3fa; /* Old browsers */
			background: -moz-linear-gradient(top,  #e0f3fa 0%, #d8f0fc 50%, #b8e2f6 51%, #b6dffd 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e0f3fa), color-stop(50%,#d8f0fc), color-stop(51%,#b8e2f6), color-stop(100%,#b6dffd)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  #e0f3fa 0%,#d8f0fc 50%,#b8e2f6 51%,#b6dffd 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  #e0f3fa 0%,#d8f0fc 50%,#b8e2f6 51%,#b6dffd 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  #e0f3fa 0%,#d8f0fc 50%,#b8e2f6 51%,#b6dffd 100%); /* IE10+ */
			background: linear-gradient(to bottom,  #e0f3fa 0%,#d8f0fc 50%,#b8e2f6 51%,#b6dffd 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0f3fa', endColorstr='#b6dffd',GradientType=0 ); /* IE6-9 */

			opacity: .25;

		}

		.player-screen-inner .marquee{
			font-family: 'ds-digitalnormal', sans-serif;
			font-size: 3.5em;
			color: #000DC6;
			text-shadow: 0px 0px 7px rgba(48, 114, 229, 1);

			min-width: 1000px;
			position: absolute;
			z-index: 1000;
			top: 25%;
			left: 100%;
			display: block;
			opacity: .9;

		}

			.player-screen-inner .marquee .artist{
				font-size: .5em;
				float: left;
				display: block;
			}

			.player-screen-inner .marquee .song-title{
				display: block;
				float: left;
				clear: left;
			}

		audio{
			width: 100%;
			background: #000;
			/*border-bottom: #939393 1px solid;*/
		}


/*QUEUE*/
ul.queue{
	width: 100%;
	height: 200px;
	display: none;

	font-family: 'ds-digitalnormal', sans-serif;
	color: #0F75E2;
	text-shadow: 0px 0px 4px rgba(40, 162, 255, .6);

	border: 8px solid #2B2B2B;
	border-top: #3D3D3D 3px solid;
	border-bottom: #3D3D3D 8px solid;
	margin: -5px 0;
	box-sizing: border-box;

	-webkit-box-shadow: inset 0px 3px 3px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    inset 0px 3px 3px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         inset 0px 3px 3px 0px rgba(50, 50, 50, 0.75);

	background: #333333;
	-webkit-border-bottom-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-bottomright: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}

	ul.queue li{
		margin: 0 0 8px  0;
		padding: 5px 0 3px 15px;
		display: block;
		width: 100%;
		box-sizing: border-box;
		border-top: #333333 1px solid;
		border-bottom: 1px solid #333333;
	}

	ul.queue li:hover{
		border-bottom: 1px solid #7d7e7d ;
		border-top: 1px solid #0e0e0e;
		background: #1C1C1C; /* Old browsers */


	}



/*Sidebar */
.library-sidebar{
	width: 200px;
	height: 220px;
	position: absolute;
	margin: 10px 0 0 -200px;
	box-sizing: border-box;
	float: left;
	border: 4px solid #000;
	border-right: none;
	padding: 5px 0;
	z-index: 100;

	-webkit-border-top-left-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;

	background: rgb(192,219,237); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(192,219,237,1) 5%, rgba(240,249,255,1) 96%, rgba(240,249,255,1) 96%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,rgba(192,219,237,1)), color-stop(96%,rgba(240,249,255,1)), color-stop(96%,rgba(240,249,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(192,219,237,1) 5%,rgba(240,249,255,1) 96%,rgba(240,249,255,1) 96%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(192,219,237,1) 5%,rgba(240,249,255,1) 96%,rgba(240,249,255,1) 96%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(192,219,237,1) 5%,rgba(240,249,255,1) 96%,rgba(240,249,255,1) 96%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(192,219,237,1) 5%,rgba(240,249,255,1) 96%,rgba(240,249,255,1) 96%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c0dbed', endColorstr='#f0f9ff',GradientType=0 ); /* IE6-9 */

	-webkit-box-shadow: inset 0px 3px 3px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    inset 0px 3px 3px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         inset 0px 3px 3px 0px rgba(50, 50, 50, 0.75);

}


.library-sidebar h2{
	line-height: .8em;
}

.library-sidebar li{
	display: block;
	width: 100%;
	padding: 5px 10px;
	margin: 8px 0;
	border-top: 1px solid rgba(0, 0, 0, 0);
	border-bottom: 1px solid rgba(0, 0, 0, 0);
	box-sizing: border-box;
}

.library-sidebar li:hover {

	border-top: 1px solid #ABD1EA;
	border-bottom: 1px solid #C6E8FF;

	background: rgb(198,232,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(198,232,255,1) 0%, rgba(171,209,234,1) 99%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(198,232,255,1)), color-stop(99%,rgba(171,209,234,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(198,232,255,1) 0%,rgba(171,209,234,1) 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(198,232,255,1) 0%,rgba(171,209,234,1) 99%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(198,232,255,1) 0%,rgba(171,209,234,1) 99%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(198,232,255,1) 0%,rgba(171,209,234,1) 99%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c6e8ff', endColorstr='#abd1ea',GradientType=0 ); /* IE6-9 */


}

	.library-sidebar .artist {
		font-size: .80em;
		font-family: 'Rokkitt', serif;
		font-weight: bold;
		line-height: .8em;
		display: block;
		clear: both;
		float: left;

	}


	.library-sidebar .title {
		font-size: .75em;
		font-family: 'Lato', sans-serif;
		font-weight: 400;


		display: block;
		float: left;
		clear: left;
		line-height: 1.2em;
		width: 75%;
	}


	.library-sidebar .playcount {
		font-size: .75em;
		display:block;
		float: right;
		margin: 0 5px 0 0;
	}

	.library-sidebar li:hover .title{
		font-weight: bold;
	}





